#content {
    max-width: 1600px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #AABD8C;
    color: white;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Tahoma, Verdana;
    padding: 35px;
}

nav a:hover {
    background-color: #F1EFE7;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

#logo_link {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
}

.home-msg {
    font-family: Verdana, Sans-Serif;
}

footer {
    background-color: #AABD8C;
    color: black;
    font-size: 1.2em;
    font-family: Tahoma, Verdana;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}

.hero-box {
  
    background-image: url("images/excel-logo.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  /* Position text in the middle of the page/image */
  .hero-msg {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

#ex-title{
    border-style: solid;
    margin: 100px;
}

#example {
    display: block;
    margin-bottom: 100px;
}

.forecast-img, .sales-summary-main, .ytd-image {
    margin-bottom: 100px;
}

.ex-main-msg, .ex-formula-msg{
    border-style: solid;
    margin-bottom: 100px;
}